<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <input class="picker-input" [value]="momentValue | date: 'short'" [(ngModel)]="momentValue" dateTimePicker (onChange)="setMoment($event)" [mode]="'dropdown'" [pickerType]="'date'" [locale]=" 'es' "/>
      </div>
      <div class="col-md-3">

        <div class="dropdown">
          <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Seleccione el BE
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
