<app-loader *ngIf="showLoader"></app-loader>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">

          <input class="picker-input form-control" id="date" [value]="momentValue | date: 'MMMM'" placeholder="Seleccione el mes a consultar" [(ngModel)]="momentValue" dateTimePicker (onChange)="setMoment($event)" [mode]="'dropdown'" [pickerType]="'date'" [locale]="'es'" [viewFormat]= "'YYYY-MM-DD'"/>
        </div>
      </div>

      <div class="col-md-4 col-md-offset-2">
        <button class="btn btn-primary" (click)="getCharts()">Consultar datos</button>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card" >
            <div class="card-header card-chart" data-background-color="orange">
              <div class="ct-chart" id="emailsSubscriptionChart"></div>
            </div>
            <div class="card-content">
              <h4 class="title">Cantidad de impactos totales</h4>
              <p class="category">Lunes a Domingo | Mes: {{ showMonth }}</p>
              <div class="col-md-4 col-md-offset-11">
                <i class="material-icons generate-excel" *ngIf="showExel" (click)="sendExcel('totalImpacts')">assignment</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" >
            <div class="card-header card-chart" data-background-color="red">
              <div class="ct-chart" id="totalImpactsWeek"></div>
            </div>
            <div class="card-content">
              <h4 class="title">Cantidad de impactos totales</h4>
              <p class="category">Lunes a Viernes | Mes : {{ showMonth }}</p>
              <div class="col-md-4 col-md-offset-11">
                <i class="material-icons generate-excel" *ngIf="showExel" (click)="sendExcel('totalImpactsLV')">assignment</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" >
            <div class="card-header card-chart" data-background-color="blue">
              <div class="ct-chart" id="chartTotalImpactsFDS"></div>
            </div>
            <div class="card-content">
              <h4 class="title">Cantidad de impactos totales</h4>
              <p class="category">Sabados y Domingos | Mes : {{ showMonth }}</p>
              <div class="col-md-4 col-md-offset-11">
                <i class="material-icons generate-excel" *ngIf="showExel" (click)="sendExcel('totalImpactsFDS')">assignment</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card" >
            <div class="card-header card-chart" data-background-color="purple">
              <div class="ct-chart" id="chartTotalImpactsPromDay"></div>
            </div>
            <div class="card-content">
              <h4 class="title">Promedios diarios</h4>
              <p class="category">Lunes a Domingo | Mes: {{ showMonth }}</p>
              <div class="col-md-4 col-md-offset-11">
                <i class="material-icons generate-excel" *ngIf="showExel" (click)="sendExcel('totalImpactsPromDay')">assignment</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" >
            <div class="card-header card-chart" data-background-color="green">
              <div class="ct-chart" id="chartTotalImpactsPromDayWeek"></div>
            </div>
            <div class="card-content">
              <h4 class="title">Promedios diarios</h4>
              <p class="category">Lunes a Viernes | Mes : {{ showMonth }}</p>
              <div class="col-md-4 col-md-offset-11">
                <i class="material-icons generate-excel" *ngIf="showExel" (click)="sendExcel('totalImpactsPromLV')">assignment</i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" >
            <div class="card-header card-chart" data-background-color="yellow">
              <div class="ct-chart" id="chartTotalImpactsPromDayFDS"></div>
            </div>
            <div class="card-content">
              <h4 class="title">Promedios diarios</h4>
              <p class="category">Sabados y Domingos | Mes : {{ showMonth }}</p>
              <div class="col-md-4 col-md-offset-11">
                <i class="material-icons generate-excel" *ngIf="showExel" (click)="sendExcel('totalImpactsPromFDS')">assignment</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
